/* Font types */

@font-face {
  font-family: "KlinicSlab-Bold";
  src: url("./fonts/klinicslabbold-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-BoldIt";
  src: url("./fonts/klinicslabboldit-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-Book";
  src: url("./fonts/klinicslabbook-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-BookIt";
  src: url("./fonts/klinicslabbookit-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-Meduim";
  src: url("./fonts/klinicslabmedium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-MediumIt";
  src: url("./fonts/klinicslabmediumit-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoudyOldStyle";
  src: url("./fonts/goudos-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoudyOldStyle-It";
  src: url("./fonts/goudosi-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoudyOldStyle-Bold";
  src: url("./fonts/goudosb-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #cf1c44;
  font-family: "KlinicSlab-Book";
  color: #5e1211;
}

/* navigation */

#head {
  background-color: #d8c6b8;
}

.nav {
  position: relative;
  height: 11.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav::before {
  content: "";
  background-image: url("../images/typesOfPasta.jpeg");
  background-size: cover;
  position: absolute;
  top: -140px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
}
.navigation-list {
  display: flex;
}

.navigation-items {
  padding-right: 1.5rem;
  font-family: "KlinicSlab-Book";
  font-size: 30px;
}

.navigation-items a {
  font-family: "KlinicSlab-Medium";
  color: #543136;
  text-decoration: none;
}

.navigation-items a:hover {
  color: #cf1c44;
}

.logo {
  height: 8rem;
  margin-left: 1rem;
  z-index: 999;
  background-color: #d8c6b8;
  padding: 1.3rem;
  box-shadow: 3px 3px 4px #5e1211;
}

/* Title */
.name {
  font-family: "KlinicSlab-Bold";
  font-size: 60px;
  color: #0b9446;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}

/* *********** */
/* index.html  */
/* *********** */

.pslideshow-container,
.svslideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom: 2rem;
}

.pslide,
.svslide {
  display: none;
}

.pday,
.svday {
  position: absolute;
  color: #543136;
  top: -2rem;
  background-color: #d8c6b8;
  font-size: 1.25rem;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.hours {
  background-color: #d8c6b8;
  text-align: center;
  letter-spacing: 0.25rem;
  line-height: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  width: 75%;
}

.ptown-title,
.svtown-title {
  font-family: "KlinicSlab-Bold";
  font-size: 2.5rem;
  text-transform: uppercase;
}

.ptown-address,
.svtown-address {
  font-family: "KlinicSlab-Bold";
  font-size: 1.5rem;
}

.phone {
  font-family: "KlinicSlab-Meduim";
  font-size: 1.5rem;
}

.days {
  font-family: "KlinicSlab-Bold";
  font-size: 1.25rem;
  text-transform: uppercase;
}

.ptown {
  margin-bottom: 6rem;
}

.svtown {
  border-top: 2px solid #cf1c44;
  padding-top: 4rem;
}

/* ********** */
/* about.html */
/* ********** */

#about {
  position: relative;
  width: 80%;
  height: 30rem;
  margin: 2rem auto;
  background-color: #d8c6b8;
}

#about::before {
  content: "";
  background-image: url(../images/groupEating.jpeg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.title-family {
  color: #0b9446;
  font-family: "KlinicSlab-Bold";
  position: absolute;
  padding-bottom: 2rem;
  font-size: 3rem;
  left: 30rem;
  padding-top: 2rem;
  z-index: 999;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.family {
  color: #0b9446;
  font-family: "KlinicSlab-Book";
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 5rem;
  right: 5rem;
  bottom: 2rem;
  z-index: 999;
  width: 75%;
  margin: 0 auto;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.p-town,
.sv-town {
  box-shadow: 2px 2px 3px rgb(0, 0, 0);
  margin-bottom: 1rem;
}

.miss-vis-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 3rem;
}

#mission,
#vision {
  background-color: #d8c6b8;
  text-align: center;
  padding: 2rem 2rem;
  width: 80%;
}

#mission {
  margin: 0 auto;
}

.mission,
.vision {
  letter-spacing: 0.5rem;
  font-family: "KlinicSlab-BoldIt";
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.mission-statement,
.vision-statement {
  font-family: "KlinicSlab-BookIt";
  width: 80%;
  margin: 2rem auto;
  font-size: 1.75rem;
}

.mission-statement {
  margin-top: 13rem;
}

.p1,
.p2,
.p3 {
  margin-bottom: 0.75rem;
}

/* *********** */
/* footer.html */
/* *********** */

#footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  background-color: #543136;
  color: #d8c6b8;
  text-align: center;
}

.fb,
.insta {
  padding-right: 3rem;
  margin-top: 0.5rem;
}

.links {
  display: flex;
}

.contact a,
.email a {
  color: #d8c6b8;
  text-decoration: none;
  font-family: "KlinicSlab-Book";
}

.contact a:hover,
.email a:hover {
  color: #cf1c44;
}

.contact,
.email {
  margin: 1.25rem auto;
}

.create,
.contact {
  font-family: "KlinicSlab-Medium";
  margin-bottom: 0.5rem;
}

/* ************ */
/* contact.html */
/* ************ */

.email-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #d8c6b8;
  width: 70%;
  margin: 4rem auto;
}

.tomato-logo {
  position: relative;
  width: 80%;
  left: 2rem;
  animation-name: tomato-rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes tomato-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.logo-required {
  margin-top: 10rem;
}

.required {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: "KlinicSlab-Bold";
}

.help {
  font-family: "KlinicSlab-Bold";
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.help-title {
  text-transform: uppercase;
}

#name,
#last,
#email,
#phone,
#message {
  border: 1px solid #cf1c44;
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  width: 18rem;
  background-color: #f3e9e1;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 15rem;
  resize: both;
}

label {
  font-family: "KlinicSlab-Medium";
}

input[name="buttons"] {
  accent-color: #0b9446;
}

.button-labels {
  color: #cf1c44;
}

.radio-container {
  margin-bottom: 1.5rem;
}

#submit {
  border: none;
  box-shadow: 1px 1px 2px #cf1c44;
  background-color: #0b9446;
  padding: 10px 2rem;
  position: relative;
  bottom: 2rem;
  left: 5rem;
}

/* ******** */
/* faq.html */
/* ******** */

.question-container {
  background-color: #d8c6b8;
  font-family: "KlinicSlab-Book";
  font-size: 1.25rem;
  width: 60%;
  margin: 2rem auto;
  padding: 2rem;
}

.restaurant-title,
.menu-title {
  font-family: "KlinicSlab-Bold";
  font-size: 2.3rem;
  color: #0b9446;
  text-align: center;
}

.question-container li {
  margin-bottom: 1rem;
}

.restaurant-container,
.menu-container {
  width: 50%;
  padding: 2rem;
  margin: 0.25rem auto;
}

.dropdown-event {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  color: #d8c6b8;
  background-color: #543136;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(207, 28, 68, 0.2);
  z-index: 1;
}

.dropdown-event:hover .dropdown {
  display: block;
  padding: 2rem;
}

/* ********* */
/* menu.html */
/* ********* */

.appetizer,
.salad,
.soup,
.entree,
.dessert {
  background-color: #d8c6b8;
  width: 60%;
  margin: 2rem auto;
  padding: 0.5rem;
}

.title {
  font-family: "KlinicSlab-BoldIt";
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #5e1211;
  text-decoration: underline;
}

.container-appetizer,
.container-salad,
.container-soup,
.container-entree,
.container-dessert {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.appetizer-image-description,
.salad-image-description,
.soup-image-description,
.entree-image-description,
.dessert-image-description {
  position: relative;
  width: 100%;
}

.app-img,
.salad-img,
.soup-img,
.entree-img,
.dessert-img {
  display: block;
  width: 100%;
}

.dessert-img {
  display: block;
}

.appetizer-overlay,
.salad-overlay,
.soup-overlay,
.entree-overlay,
.dessert-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 50, 55, 0.8);
  color: #d8c6b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.appetizer-overlay:hover,
.salad-overlay:hover,
.soup-overlay:hover,
.entree-overlay:hover,
.dessert-overlay:hover {
  opacity: 1;
}

.appetizer-items,
.salad-items,
.soup-items,
.entree-items,
.dessert-items {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.appetizer-description,
.salad-description,
.soup-description,
.entree-description,
.dessert-description {
  font-size: 1.25rem;
  text-align: center;
}

/* ********* */
/* news.html */
/* ********* */

.covid {
  background-color: #d8c6b8;
  width: 60%;
  margin: auto;
  padding: 2rem;
  letter-spacing: .1rem;
  line-height: 125%;
}

.covid-news {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.care-objective {
  font-size: 1.15rem;
  font-weight: bolder;
  text-align: center;
}

.covid-care {
  text-align: center;
  margin-bottom: 1rem;
}

.covid-care-items {
  font-weight: 800;
}

.covid-care-par {
  width: 90%;
  text-indent: 2%;
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
}


.celebration,
.learn-to-cook {
  background-color: #0b9446;
  width: 60%;
  margin: auto;
  padding: 2rem;
  margin-top: 2.5rem;
}

.anniversary {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  color:#cf1c44;
  letter-spacing: 1.25rem;
}

.fa-champagne-glasses {
  transform: rotate(20deg);
  color:#d8c6b8;
}

.celebration-about {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
  font-weight: bolder;
  font-size: 1.60rem;
}

#celebration-day {
  font-weight: bold;
  font-size: 1.4rem;
  color: #543136;
}

#celebration-event {
  padding: 1rem;
  font-size: 1.25rem;
}

.learn-to-cook {
  background-color: #d8c6b8;
  margin-bottom: 2rem;
}


.cook {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  letter-spacing: .5rem;
}

.cook-event {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.20rem;
}

.cook-time {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}





