/* Font types */

@font-face {
  font-family: "KlinicSlab-Bold";
  src: url("./fonts/klinicslabbold-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-BoldIt";
  src: url("./fonts/klinicslabboldit-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-Book";
  src: url("./fonts/klinicslabbook-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-BookIt";
  src: url("./fonts/klinicslabbookit-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-Meduim";
  src: url("./fonts/klinicslabmedium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KlinicSlab-MediumIt";
  src: url("./fonts/klinicslabmediumit-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoudyOldStyle";
  src: url("./fonts/goudos-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoudyOldStyle-It";
  src: url("./fonts/goudosi-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GoudyOldStyle-Bold";
  src: url("./fonts/goudosb-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Navigation Style */

.nav {
  position: relative;
  height: 11.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav::before {
  content: "";
  background-image: url("../images/typesOfPasta.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
}
.navigation-list {
  display: flex;
}

.navigation-items {
  padding-right: 1.5rem;
  font-family: "KlinicSlab-Book";
  font-size: 30px;
}

.navigation-items a {
  font-family: "KlinicSlab-Bold";
  color: #cf1c44;
  text-decoration: none;
}

.navigation-items a:hover {
  color: #0b9446;
}

.logo {
  height: 9rem;
  margin-left: 1rem;
  z-index: 999;
}

/* Title */
.name {
  font-family: "KlinicSlab-Bold";
  font-size: 60px;
  color: #cf1c44;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

/* index.html pictures */
.images-restaurants {
  display: flex;
  justify-content: space-evenly;
}

.pleasanton-container,
.smithson-container {
  position: relative;
  margin-bottom: 2rem;
}

.img-title-p,
.img-title-sv {
  color: #0b9446;
  font-family: "KlinicSlab-Book";
  font-weight: 600;
  position: absolute;
  top: 23rem;
  right: 12rem;
  font-size: 3rem;
  text-shadow: 2px 2px 3px #fff;
}

/* about page */
#about {
  position: relative;
  width: 100%;
  height: 30rem;
}
#about::before {
  content: "";
  background-image: url(../images/groupEating.jpeg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .4;
}

.title-family {
  color:#0b9446;
  font-family:"KlinicSlab-Bold";
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  z-index: 999;
}

.family {
  color:#0b9446;
  font-family: "KlinicSlab-Book";
  font-size: 1.5rem;
  position: absolute;
  bottom: 3rem;
  z-index: 999;
  text-align: center;
}

/* Footer */
#footer-container {
  background-color: #543136;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.create,
.contact {
  font-family: "KlinicSlab-Medium";
  margin-bottom: 0.5rem;
}
